.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: transparent;
  padding: 4px;
  border-radius: 10px;
}

.leftview {
  margin-left: 0px;
  display: flex;
  height: 5%;
  padding-left: 3px;
  padding-right: 3px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.column .card_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  background-color: transparent;
}

.name_label {
  width: 50%;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}
